@* @{
  Layout = "_Layout";
} *@
<h1>Welcome to the Places You've Been!</h1>
<h3><a href='/location/new'>Add a new place you have visitied</a></h3>
<h3><a href='/location'>View list of places you have visited</a></h3>